* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #FFA07A;
}

.container-fluid {
    background-color: #ffffff ;
    text-align: center;
    padding-bottom: 50px;
}

.titulo {
    padding: 30px;
    
}

.rounded-circle {
    width: auto;
    height: auto;
}

h3 {
    color: #FFA07A;
}

.container-me {
    margin-top: 2rem;
    border: 5px double #FFA07A;
    padding: 0.5rem;
}


.sobre-mim {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}

.receitas {
    background-color: #FFA07A;
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}

.img-receitas {
    float: left;
    width: 50%;
}

.servicos  {
    padding-top: 1rem;
}

.titulo-servicos {
    padding-top: 20px;
    padding-bottom: 40px;
}